@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
}
button{
    transition: all 0.5s;
}

body{
    color: #18BA29;
    background-color: #000000;
}
header{
    text-align: center;
}


header h1{
    font-size: 2.5rem;
    margin-top: 5%;
    margin-bottom: 2rem;
}
header h2{
    padding: 0rem 0.5rem 0rem 0.5rem;
}

header h2, .forFree{
    font-size: 1.5rem;
}


.forFree{
    color: red;
    box-shadow: 0 0 5.5rem red;
}   

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
svg {
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 20rem;
    width: 20rem;
}
path {
    stroke: #777;
    fill: none;
}

.roundHex {
    position: relative;
    margin: 0 auto;
    background: transparent;
    border-radius: 10px;
    height: 300px;
    width: 180px;
    box-sizing: border-box;
    transition: all 1s;
    border: 10px solid transparent;
    border-top-color: black;
    border-bottom-color: black;
}
.roundHex:before,
.roundHex:after {
    content: "";
    border: inherit;
    position: absolute;
    top: -10px;
    left: -10px;
    background: inherit;
    border-radius: inherit;
    height: 100%;
    width: 100%;
}
.roundHex:before {
    transform: rotate(60deg);
}
.roundHex:after {
    transform: rotate(-60deg);
}

.buttonContainer{
    align-items: center;
    justify-content: center;
    display: flex;
}
.buttonContainer button{
    background-color: #18BA29;
    color: #000000;
    font-weight: bold;
    border: none;
    padding: 1rem;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover{
    background-color: #141414;
    color: #18BA29;
    transform: translateX(10px), translateY(-10px);
    box-shadow: 0 0 4rem #18BA29;
    border-radius: .5rem;
}


.shareContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 3rem;
    transition: all 0.5s;
}

.shareContainer a{
    text-decoration: none;
    color: #1da1f2;
    font-size: 1rem;
    transition: all 0.1s;
}
.shareContainer img{
    width: 1.5rem;
}
.shareContainer a:hover{
    font-size: 1.2rem

}

.hamnav {
    width: 100%;
    position: sticky;
    display: flex;
    top: 0;
}
.hamnav img{
    width: 2.5rem;
}

#hamburger {
    display: none;
}

.hamnav label {
    display: inline-block;
   color: #000000;
    background-color: #18BA29;
    padding: 1rem;
}
 
.aboutContainer {
    background-color: #141414;
    width: 100%;
    display: none;
    padding: 1rem;
    text-align: left
}

.aboutContainer strong{
    font-size: 1.5rem;
    color: #18BA29;
}
.aboutContainer p{
    padding-bottom: .5rem;
    font-size: 1.2rem;
}

.hamnav input:checked ~ #aboutContainer {
    display: block;
}
